


*, *:before, *:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}
h1{
    text-emphasis-color: red;
    text-align:center;

}
h3{
    color:rgb(50, 205, 97);
    border: 1px solid black;
}
nav {
    background-color:palevioletred;
    display: flex;
    display: -webkit-flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    padding: .1em;
    margin:1px;

}
.img-congress
{
    width:100%;
    height:auto;
    overflow:hidden;
    border-radius:8px;
    
}

