


*, *:before, *:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}
h1{
    color: #00ff00;
    text-emphasis-color:yellow;
    text-align:center;
    border:1px solid orange

}
h3{
    color:rgb(50, 205, 97);
    border: 1px solid black;
}
nav {
    background-color:orangered;
    display: flex;
    display: -webkit-flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    padding: .1em;
    margin:1px;

}
.img-congress
{   width: 400px;
    height: 100px;
    
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:50%;
    height:auto;
    overflow:hidden;
    border-radius:20px;
    
}
.img-bill
{
    width: 500px;
    height:100px;
    display:auto;
    margin-left:auto;
    border-radius:50px;

}

